##
## Licensed Materials - Property of IBM
## 5737-I23
## Copyright IBM Corp. 2018 - 2022. All Rights Reserved.
## U.S. Government Users Restricted Rights:
## Use, duplication or disclosure restricted by GSA ADP Schedule
## Contract with IBM Corp.
##

# Sample script for running the DB2 scripts non-interactively by providing the needed env vars
# To use:  Make a copy and name it "common_for_DB2.sh", update the needed variables.

# --- For Base BACA DB:
# update these variables for the BACA Base database
base_db_name=CABASE3
base_db_user=baseuser3
#The SaaS flag is true/false.
SaaS=true
confirmation=y
